@tailwind base;
@tailwind components;
@tailwind utilities;

.circle-container {
	transform: translateX(16px);
}

/* Color Languages Line Circle. */
.foreground-circle {
	fill: none;
	stroke: rgb(219 39 119);
	stroke-width: 3px !important;
}

.background-circle {
	fill: none;
	stroke: rgb(203 213 225);
	stroke-width: 8px;
}

.circle-text {
	font-size: 1rem;
	line-height: 1.25rem;
	fill: white;
}

.circle-info-text {
	font-size: 0.75rem;
	line-height: 1.25rem;
	fill: rgb(219 39 119);
}

/* smaller, dark, rounded square */
.flickity-button {
	background: rgb(236 72 153);
}
.flickity-button:hover {
	background: rgb(219 39 119);
}

.flickity-button:focus {
	outline: none;
	box-shadow: 0 0 0 1px rgb(236 72 153);
}

.flickity-prev-next-button {
	width: 15px;
	height: 15px;
	border-radius: 5px;
}
/* icon color */
.flickity-button-icon {
	fill: white;
}
