@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.circle-container {
	transform: translateX(16px);
}

/* Color Languages Line Circle. */
.foreground-circle {
	fill: none;
	stroke: rgb(219 39 119);
	stroke-width: 3px !important;
}

.background-circle {
	fill: none;
	stroke: rgb(203 213 225);
	stroke-width: 8px;
}

.circle-text {
	font-size: 1rem;
	line-height: 1.25rem;
	fill: white;
}

.circle-info-text {
	font-size: 0.5rem;
	font-weight: bold;
	line-height: 1.25rem;
	fill: rgb(219 39 119);
}

/* smaller, dark, rounded square */
.flickity-button {
	background: rgb(236 72 153);
}
.flickity-button:hover {
	background: rgb(219 39 119);
}

.flickity-button:focus {
	outline: none;
	box-shadow: 0 0 0 1px rgb(236 72 153);
}

.flickity-prev-next-button {
	width: 15px;
	height: 15px;
	border-radius: 5px;
}
/* icon color */
.flickity-button-icon {
	fill: white;
}

/* white circles */
.carousel-portfolio .flickity-page-dots .dot {
	width: 12px;
	height: 12px;
	opacity: 1;
	background: transparent;
	border: 2px solid white;
}

/* black circles */
.carousel-references .flickity-page-dots .dot {
	border: 2px solid #0f172a;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
	background: rgb(236 72 153);
}

.bg-contact-gradient {
	background: rgb(15, 23, 42);
	background: -moz-linear-gradient(
		337deg,
		rgba(15, 23, 42, 1) 0%,
		rgba(15, 23, 42, 1) 5%,
		rgba(15, 23, 42, 0.7973389184775472) 20%,
		rgba(255, 255, 255, 0.9) 30%
	);
	background: -webkit-linear-gradient(
		337deg,
		rgba(15, 23, 42, 1) 0%,
		rgba(15, 23, 42, 1) 5%,
		rgba(15, 23, 42, 0.7973389184775472) 20%,
		rgba(255, 255, 255, 0.9) 30%
	);
	background: linear-gradient(
		337deg,
		rgba(15, 23, 42, 1) 0%,
		rgba(15, 23, 42, 1) 5%,
		rgba(15, 23, 42, 0.7973389184775472) 20%,
		rgba(255, 255, 255, 0.9) 30%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f172a",endColorstr="#ffffff",GradientType=1);
}

.animate-Up-And-Down {
	transform: rotate(-45deg);
	-webkit-animation: action 1s infinite alternate;
	animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(5px);
	}
}

@keyframes action {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(5px);
	}
}

.CircularProgressbar .CircularProgressbar-text {
	fill: white;
	font-size: 10px;
	text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-path {
	stroke: rgb(219 39 119);
	stroke-width: 4px;
}
